{% load staticfiles %}
<html>
	<head>
		<title>Articles with comments</title>
		<script src="http://fb.me/react-0.12.2.js"></script>
		<script src="http://fb.me/JSXTransformer-0.12.2.js"></script>
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div id="content"></div>
		<script type="text/jsx" src="{% static 'react-router.js' %}"></script>
		<script type="text/jsx" src="{% static 'script.js' %}"></script>
	</body>
</html>